*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}
.nav-bar nav p{
    color: #4B5563;
}
.btn button{
    background-color: #111827;
    color: white;
    border: none;
    padding: 6px 16px;
    width: 136px;
    height: 36px;
    border-radius: 12px;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 60px;
}
.l-a{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin: 20px;
    margin-left: -4px;
    color: #4B5563;
}
.m-2{
    width: 85%;
    margin: auto;
    padding: 60px;
    height: 500px;
    background-color: #F9FAFB;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    width: 120px;
    height: 32px;
    background-color:#E5E7EB;
    border-radius: 8px;
    color: black;
    font-weight: 500;
}
.discreption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    gap: 150px;
}
.m-3{
    width: 85%;
    margin: auto;
    padding: 60px;
    height: 500px;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    width: 120px;
    height: 32px;
    background-color:#E5E7EB;
    border-radius: 8px;
    color: black;
    font-weight: 500;
}
.logo1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: auto;
    padding: 40px 0;
}
.logo2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: auto;
    padding: 40px 0;;
    margin-right: -15px;
}
.m-4{
    width: 85%;
    margin: auto;
    padding: 60px;
    height: 500px;
    background-color: #F9FAFB;
}
.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    width: 120px;
    height: 32px;
    background-color:#E5E7EB;
    border-radius: 8px;
    color: black;
    font-weight: 500;
}
.test-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 40px 0;
}
.test-card div{
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 2px 2px 10px gray;
}
.testcard-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.testcard-icon p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: black;
    padding: 5px 0px;
}
.footer-1{
    width: 85%;
    margin: auto;
    padding: 60px;
    height: 400px;
}
.get-in-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    width: 120px;
    height: 32px;
    background-color:#E5E7EB;
    border-radius: 8px;
    color: black;
    font-weight: 500;
}
.footer-info{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: auto;
    padding: 40px 0;
    gap: 20px;
    width: 120px;
}
.footer-2{
    background-color:#E5E7EB;
    width: 85%;
    margin: auto;
    padding: 20px;
}